:root {
    --font-family: 'Gabarito', sans-serif;
    --font-family-mono: 'JetBrains Mono', monospace;
    --border-standard: 2px solid var(--color-border);
    --border-radius: 20px;

    @media screen and (max-width: 768px) {
        --border-radius: 15px;
        --border-standard: 1.5px solid var(--color-border);
    }
}

:root[data-theme='dark'] {
    --color-background: #0a0a0a;
    --color-text-primary: #cfcfcf;
    --color-text-secondary: rgba(255, 255, 255, 0.45);
    --color-background-secondary: #141414;
    --color-border: #2a2a2a;
    --button-hover-effect: brightness(0.82);
    --box-shadow: 0px 7px 59px 0px rgba(0,0,0,0.75);
}

:root[data-theme='light'] {
    --color-background: #fefefe;
    --color-text-primary: #202020;
    --color-text-secondary: rgba(0, 0, 0, 0.45);
    --color-background-secondary: #f5f5f5;
    --color-border: #d6d6d6;
    --button-hover-effect: brightness(0.95);
    --box-shadow: 0px 7px 59px 0px rgba(255,255,255,.75);
}