:root {
    --font-family: 'Gabarito', sans-serif;
    --font-family-mono: 'JetBrains Mono', monospace;
    --border-standard: 2px solid var(--color-border);
}

:root[data-theme='dark'] {
    --color-background: black;
    --color-text-primary: white;
    --color-text-secondary: rgb(255, 255, 255, 0.5);
    --color-background-secondary: #1a1a1a;
    --color-border: #333333;
    --button-hover-effect: brightness(0.82);
}

:root[data-theme='light'] {
    --color-background: white;
    --color-text-primary: black;
    --color-text-secondary: rgb(0, 0, 0, 0.5);
    --color-background-secondary: #eeeeee;
    --color-border: #c9c9c9;
    --button-hover-effect: brightness(0.95);
}