:root {
    --color-background: #0A0A0A;
    --color-background-secondary: #181818;
    --color-primary: white;
    --color-text-secondary: #7F7F7F;
    --color-secondary: #5F5F5F;
    --color-border: #2F2F2F;
    --font-family: 'Bricolage Grotesque', sans-serif;
    --font-family-mono: 'Space Mono', 'Courier New', monospace;

    font-variant-ligatures: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

*:not(html):not(span) {
    opacity: 0;
    animation: fadein 0.2s ease forwards;
}